@import "tailwindcss";

@layer utilities {
  .btn {
    @apply transition-all duration-200 ease-out;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  .btn:hover {
    transform: translateY(-2px);
  }

  .btn:active {
    transform: scale(.95);
  }

  .card-hover {
    transition: .3s;
  }

  .card-hover:hover {
    transform: translateY(-6px);
  }
}