@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import "tailwindcss";
@theme {
  --color-base: #130b07;
  --color-text: #fbedc6;
  --color-sidebar: #fef4f5;
  --color-subtext: #f3d9ad;
  --color-overlay: #26180d;
  --color-border: #c15a15;

  --color-light-base: #fdf3e7;
  --color-light-text: #5a3010;
  --color-light-sidebar: #fef4f5;
  --color-light-subtext: #80664d;
  --color-light-overlay: #f0e3cc;
  --color-light-border: #896a36;
}
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .btn {
    @apply transition-all duration-200 ease-out;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  .btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
  .btn:disabled:hover {
    cursor: not-allowed;
    transform: none;
  }

  .btn:active {
    transform: scale(.95);
  }

  .card-hover {
    transition: .3s;
  }

  .card-hover:hover {
    transform: translateY(-6px);
  }
  
  .header {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 200;
  }

  .leaflet-left .leaflet-control {
    margin-left: 16px !important;
    margin-bottom: 16px;
  }
  .leaflet-left {
    right: 0;
    bottom: 0;
    top: unset !important;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 36px !important;
    padding: 4px !important;
    background-color: var(--color-light-base) !important;
  }
  .leaflet-popup-tip {
    background-color: var(--color-light-base) !important;
  }
  .dark .leaflet-popup-content-wrapper, .dark .leaflet-popup-tip {
    background-color: var(--color-base) !important;
  }
  .leaflet-popup-close-button {
    top: 12px !important;
    right: 20px !important;
    font-size: 2.5em !important;
  }
  .leaflet-popup-content p {
    margin: .25em 0 !important;
  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    border-radius: 12px !important;
    background: var(--color-light-overlay) !important;
    color: var(--color-light-subtext) !important;
    font-weight: 900 !important;
    font-size: var(--text-xl) !important;
    line-height: calc(var(--spacing) * 10) !important;
    width: calc(var(--spacing) * 10) !important;
    height: calc(var(--spacing) * 10) !important;
    margin-top: var(--spacing) !important;
  }
  .dark .leaflet-control-zoom-in, .dark .leaflet-control-zoom-out {
    background: var(--color-overlay) !important;
    color: var(--color-subtext) !important;
  }
  .leaflet-bar {
    border: none !important;
  }
}
